/**
 * genarated by APX file generation template
 * File name: MainStylesheet.css
 */


.MainClass {
	
}

.fullBorderPane{
	
}

.scrollPane {
	
}

.columnsHBox{

}

.columnVBox{

}

.columnHeaderGridPane{

}

.columnHeaderTitleLabel{
	
}

.columnHeaderTitleTextField{
	
}

.columnHeaderEditSaveButton{
	
}

.columnHeaderRemoveButton{
	
}

.columnHeaderChangeCapacityButton{
	
}

.columnTaskVBox{
	
}

.taskGridPane{
	/* Task Color defined in Code */
}

.taskTitleLabel{
	
}

.taskTitleTextField{
	
}

.taskEditSaveButton{
	
}

.taskDescriptionLabel{
	
}

.taskDescriptionTextArea{
	
}

.taskCategoryLabel{
	
}

.taskCategoryDropDown{
	
}

/**
********************************
* OLD Stylesheet
********************************

.columnsHBox{
	-fx-vgap: 10px;
	-fx-hgap: 10px;
	-fx-padding: 10px;
	-fx-alignment: top-center;
	-fx-height: 100%;
}

.columnVBox{
	-fx-padding: 10px;
}

.columnHeaderGridPane{
	-fx-alignment: top-center;
   	-fx-font-family: "Arial ";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-color: green;
    -fx-text-fill: white;
}

.columnTextField{
	-fx-alignment: center;
	-fx-font-size: 30px;
}

.columnEditNameButton{
	
	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#23BF2E, #000000);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-border-color: green;
  
}
.columnEditNameButton:hover {
    -fx-background-color: linear-gradient(#2DFE2F, #027201);
    
}

.columnTaskVBox{
	-fx-vgap: 10px;
	-fx-hgap: 10px;
	-fx-padding: 10px;
	-fx-alignment: top-center;
}

.task{
	-fx-border-color: black;
	-fx-border-radius: 10px;
	-fx-border-width: 3px;
	-fx-padding: 20px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-background-radius: 11px;
    -fx-font-family: "Arial Narrow";
}
.task:hover{
-fx-background-color: linear-gradient(#BF6123, #C56E07);

}

.taskTitleLabel{
	-fx-font-size: 30px;
}

.taskTitleTextField{
	-fx-font-size: 30px;
}

.taskDescriptionLabel{
	-fx-font-size: 20px;
}

.taskDescriptionTextArea{
-fx-font-size: 20px;
}

.taskEditSaveButton{

}
*/
